<!DOCTYPE html>
<html>
<head>
  <title>Factory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">
  jQuery.ajaxSetup({
    beforeSend: function (xhr) {
      xhr.setRequestHeader("Accept", "text/javascript");
    }
  });
</script>

<body>

<% if !['navigate','sprav'].include?(params[:controller]) %>
<% if user_signed_in? %>
            <%= current_user.email %>
          <% end %>  
        <% if !user_signed_in? %>
          <%= link_to('Войти', new_user_session_path)  %>
         <% else %>
          <%= link_to('Выйти', destroy_user_session_path, :method => :delete) %>
         <% end %> 
         <br>
         <% end %>
<!--<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>-->
<%= yield %>
</body>
</html>
